<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dottie's</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custombutton.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="topnav">
            <div class="nav__layout">
                <div class="nav__logo">
                    <input type="image" href="#home" src="img\logo.png" name="button-logo" class="nav__logo-button" id="saveForm" />
                </div>
                <div class="nav__links">
                    @* <a asp-area="Sale" name="nav__button button-33" asp-controller="Home" asp-action="Sale">Sale</a> *@
                    
                    @Html.ActionLink("About", "Index", "About", null, new {@class = "nav__button button-33"})</button> 
                    @Html.ActionLink("Contact", "Index", "Contact", null, new {@class = "nav__button button-33"})</button> 
                    @Html.ActionLink("Sale", "Index", "Sale", null, new {@class = "nav__button button-33"})</button> 
                    @Html.ActionLink("My Cart", "Index", "#shopping-cart", null, new {@class = "nav__button button-33"})</button> 
                </div>
                <div class="nav__search">
                    <span class="nav__flex">
                        <span class="search-bar"><input type="text" placeholder="Search.."></span>
                        <a href="#" data-toggle="dropdown">
                            <img class="nav__user-logo" src="img\user1.png" />
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item">Profile</a>
                            <a class="dropdown-item">My Orders</a>
                            <a class="dropdown-item">Rewards</a>
                            <a class="dropdown-item">Live Chat</a>
                            <a class="dropdown-item">Settings</a>
                        </div>
                    </span>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Dotties Apothecary - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

